{% extends "layout.html" %}

{% block title %}
Books
{% endblock %}

{% block body %}
<h1>All Books</h1>

<ul>
  <table class="table table-striped table-bordered" style="width:100%">
    <thead>
      <th scope="col">ISBN</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td><a href="{{ url_for('book', isbn=book.isbn) }}">More info...</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>

{% endblock %}