{% extends "layout.html" %}

{% block title %}
Book
{% endblock %}

{% block body %}
<h1>Book Details</h1>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn13}}-L.jpg" class="card-img-top img-fluid"
        style="height: 300px;" alt="Cover of {{book_db.title}}">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{book_db.title}}</h5>
        <p class="card-text">by {{book_db.author}}, {{book_db.year}}</p>
        <p class="card-text">ISBN: {{book_db.isbn}}</p>
        <p class="card-text">Rating: {{book.average_rating}}
          <br>Rating Count: {{book.work_ratings_count}}</p>
      </div>
    </div>
    <a class="btn btn-outline-dark mt-2" href="{{ url_for('search') }}" role="button">Back to
      search</a>
  </div>
  <div class="col-sm-6">
    {% if my_review == None %}
    <form>
      <div class="card">
        <div class="card-header">
          <strong>Submit your review</strong>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" id="title" placeholder="Review Title...">
            </div>
            <div class="col">
              <div class="form-check form-check-inline ml-2">
                <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4">
                <label class="form-check-label" for="inlineRadio4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5">
                <label class="form-check-label" for="inlineRadio5">5</label>
              </div>
            </div>
          </div>
          <textarea class="form-control mt-2" id="review" rows="3" placeholder="Review body..."></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2 offset-md-9" >Submit Review</button>
    </form>
    {% else %}
    <form>
      <div class="card">
        <div class="card-header">
          <strong>Your review</strong>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" id="title" placeholder="Review Title..." name="title"
                value="{{my_review.title}}" disabled>
            </div>
            <div class="col">
              <p>{{my_review.rating}}/5</p>
            </div>
          </div>
          <textarea class="form-control mt-2" id="review" rows="3" placeholder="Review body..." name="detail"
            disabled>{{my_review.detail}}</textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2 offset-md-9" disabled>Already reviewed</button>
    </form>
    {% endif %}
  </div>
</div>
<h2>Reviews from our members</h2>
<div class="row row-cols-1 row-cols-md-3 mt-4 card-columns">
  {% if book_reviews == [] %}
  <h5 class="ml-3">No reviews yet! Would you like to write one?</h5>
  {% else %}
  {% for review in book_reviews %}
  <div class="col mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{review.title}} - {{review.rating}}/5</h5>
        <p class="card-text">{{review.detail}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created by {{review.nickname}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

</div>

{% endblock %}