{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<h1>Register</h1>

<form action="{{ url_for('register') }}" method="post">
  <div class="form-group">
    <input class="form-control" name="username" placeholder="Username" type="text" autocomplete="username" autofocus>
  </div>
  <div class="form-group">
    <input class="form-control" name="password" placeholder="Password" type="password" autocomplete="current-password">
  </div>
  <div class="form-group">
    <input class="form-control" name="nickname" id="nickname" placeholder="Nickname" type="text"
      autocomplete="nickname">
    <small id="nickname" class="form-text text-muted">This is the name displayed next to your reviews.</small>
  </div>
  <button type="submit" class="btn btn-primary">Register!</button>
</form>
{% endblock %}